
<head>
    <style>
        .xxxx {
            border: 2px solid #007bff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    </style>
</head>

<div class="container xxxx">
    <div class=" text-center">
        <i class="bi bi-check2-circle"></i>
        <h1>SUCCESS</h1>
        <h3>Congratulations! Your application has bees successfully submitted.</h3>
        <div>
            <a class="form-control btn btn-primary" asp-controller="Home" asp-action="INdex">Home</a>
        </div>
    </div>
</div> 