@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .xxxx {
            border: 2px solid #007bff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    </style>
</head>

<div class="container xxxx">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6" style="padding: 0px">
            <div>
                <a class="form-control btn btn-primary" asp-controller="Users" asp-action="Create">Create Loan Account</a>
            </div>
        </div>
    </div>
</div>
